.form-container, .table-container, .map-container {
  background: #f9fafe;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.form-title, .table-title, .map-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #2c3e50;
}

input.form-control {
  background: #f1f5f9;
  border: 1px solid #d9e2ec;
  border-radius: 8px;
}

.btn-form-submit {
  background: #0099ff;
  color: #fff;
  padding: 0.7rem 2rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 153, 255, 0.4);
}

.btn-form-submit:hover {
  background: #007acc;
}

.custom-table {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.custom-table th {
  background: #e9f1ff;
  color: #333;
  font-weight: 600;
}

.custom-table td, .custom-table th {
  text-align: center;
  vertical-align: middle;
}

.btn-action {
  background: #17c3b2;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: none;
  transition: 0.3s;
}

.btn-action:hover {
  background: #11999e;
}

.map-box {
  height: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}


.customtr:hover {
  background-color: #676868 !important;
  transition: background-color 0.3s !important;
}

.custom-form label{
    color:#17c3b2;
}

